@font-face {
    font-family: TiltNeon;
    src: url('../src/fonts/TiltNeon-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url('../src/imagen/contact-formedit.png');
    background-repeat: no-repeat;
    background-size: cover; */
    height: 1vh;
}
header{
    height: 65px;
    width: 100%;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

nav{
    display: flex;
}

.resize{
    height: 65px;
    
}

.grayimg{
    width: 25px;
    height: 25px;
    

}

.point{
    display: flex;
    height: 65px;
    padding: 0 5px;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 10px;
    background: #000;
    margin: 20px 5px;
}

.circle:nth-child(3){
    background: greenyellow;
}
.circle:nth-child(2){
    background: yellow;
}
.circle:nth-child(1){
    background: red;
}

.contenedor{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(0, 136, 255, 0.774) 4%, rgba(255,255,255,1) 95%);
    width: 700px;
    height: 400px;
}

#decorative{
    width: 200px;
    height: 400px;
    background: orange;

}

#decorative .objects{
    width: 100px;
    height: 40px;
    margin: 5px;
    background: #000;
}