*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(0, 136, 255, 0.774) 4%, rgba(255,255,255,1) 95%);
    
}




header{
    height: 9%;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(9,9,121,0.5) ;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}
nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.pointers{
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 8px;
}
.pointers span{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin: 0 3px;
    cursor: pointer;
}

.pointers span:nth-child(1){
    background: greenyellow;
    
}
.pointers span:nth-child(2){
    background: yellow;
    
}
.pointers span:nth-child(3){
    background: red;
    
}

#contenedor{
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(0, 136, 255, 0.774) 60%, rgba(255,255,255,1) 90%);
    width: 100%;
    height: 91%;
    display: flex;
}

.ico_size{
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.ico_size img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.decorador{
    width: 30%;
    height: 100%;
    /* background: url('../src/imagen/lado.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: transparent;
}


.formulario{
    width: 70%;
    height: 100%;
    
}
form{
    color: aliceblue;
    height: 100%;
    /* background: orange; */
    
}

fieldset{
    height: 100%;
    border: none;
    border: 1px solid brown;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 50px;
}


 legend h1{
    font-size: 28px;
    margin-bottom: 30px;
} 


input, select{
    height: 30px;
    color: grey;
    box-sizing: border-box;
}
input:focus {
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    padding-left: 5px;
    border: transparent;
    border-bottom: 2px solid rgba(7, 116, 212, 0.774);
  }
 input:invalid{
    border: transparent;
    border-bottom: 2px solid red;
    outline: none;
  }
  #Apellido:invalid {
    border: transparent;
    border-bottom: 2px solid red;
    outline: none;
  }
  
form{
    color: aliceblue;
    height: 100%;
    /* background: orange; */
    padding: 10px 30px;
}

p{
    margin: 15px 10px;
    
}
label {
    
    color: #fff;
    background: gray;
    width: 150px;
    text-align: right;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-sizing: content-box;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
    }

.edad{
    padding: 5px 32px;
    margin-left: 45px;
}
.fecha{
    padding: 5px 12px;
}
.mail, .genero{
    padding: 5px 25px;
}
.nombre{
    padding: 5px 22px;
}

#mail__input{
    width: 335px;
    
}
#edad__input{
    width: 65px;
    text-align: center;
    
}
#edad__input:focus:invalid{
    border: transparent;
    border-bottom: 2px solid red;
    outline: none;
}
#fecha__input{
    width: 140px;
    
    
}
#tel__input{
    width: 126px;
    
}

h4{
    padding-left: 25px;
    box-sizing: border-box;
}