@font-face {
    font-family: tilibrown;
    src: url('./src/fonts/Outfit-VariableFont_wght.ttf');
}
@font-face {
    font-family: tiltneon;
    src: url('./src/fonts/TiltNeon-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(0, 136, 255, 0.774) 4%, rgba(255,255,255,1) 95%);
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(17, 159, 202, 0.774) 4%, rgba(116,196,188,1) 95%);
    
    /* background:  rgba(0, 136, 255, 0.774); */
}

header{
    height: 9%;
    width: 100%;
    background: white;
    border-bottom: 1px solid rgba(9,9,121,0.5) ;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 50;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.pointers{
    height: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 8px;
}
.pointers span{
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin: 0 3px;
    cursor: pointer;
}

.pointers span:nth-child(1){
    background: greenyellow;
    
}
.pointers span:nth-child(2){
    background: yellow;
    
}
.pointers span:nth-child(3){
    background: red;
    
}
.ico_size{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
    width: 50px;
}
section{
    display: flex;
    flex-direction: column;
}
main{
    height: 91%;
    display: flex;
    
}
main section:nth-child(1){
    width: 70%;
    height: 100%;
    padding-top: 60px;
    padding-left: 80px;
    /* border: 1px solid lime; */
}
main section:nth-child(2){
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
}
p{
    display: flex;
    flex-direction: row;
    padding: 2px;
}
hr{
    border-color: white;
    margin: 15px 0;
    width: 65%;
}
h1{
    font-size: 38px;

}
h4{
    font-family: tiltneon;
    margin-bottom: 50px;
}
h1, h4{
    color: white;
}
label{
    font-family: tiltneon;
    font-size: 14px;
    color: white;
    display: inline-block; /* para que se pueda establecer el height */
    height: 35px;
    line-height: 30px; /* igual al height del label */
    width: 110px;
}
input{
    height: 30px;
    margin: 0 3px;
    padding-left: 3px;
    
}
input:focus{
    outline: none; 
}
input:focus:invalid{
    border: 1px solid transparent;
    border-bottom:2px solid red;
    outline: none;
}
input:focus:valid{
    border: 1px solid transparent;
    border-bottom:2px solid rgba(82, 82, 253,0.8);
}

#email{
    height: 30px;
    margin: 0 3px;
    width: 50%;
}
#nombres,#apellidos{
    width: 24.6%;
}

.telefono{
    width: 16.2%;
}

.a{
    
    position: absolute;
    top: 0;
    left: 99%;
    transform: rotate(-45deg) translate(-150px, 0);
    transform-origin: 0 0;
        
}

#cont{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }
.dorado{
    background: linear-gradient(90deg, rgb(213, 231, 129) 4%, rgba(232,190,89,1) 95%);
    height: 50px;
    width: 250px;
    border-radius: 14px;
    top:10px;
    left: 98%;
}

.azul{
    position: relative;
    background: linear-gradient(90deg, rgba(97, 215, 216, 0.774) 4%, rgba(87,217,226,1) 95%);
    height: 50px;
    width: 300px;
    border-radius: 14px;
    top:0px;
    left: 85%;
    
}

.palid{
    background: linear-gradient(90deg, rgba(174, 213, 168, 0.774) 4%, rgba(219,222,156,1) 95%);
    height: 40px;
    width: 300px;
    border-radius: 14px;
    top: 67%;
    left: 330px;
    z-index: 1;
}

.blight{
    background: linear-gradient(90deg, rgb(28, 243, 210) 4%, rgb(133,202,186) 95%);
    height: 50px;
    width: 200px;
    border-radius: 14px;
    top: 40%;
    left: 350px;
    /* border: 1px solid white; */
    
    
}

.redbox{
    background: linear-gradient(90deg, rgb(233, 105, 139) 4%, rgb(235,93,96) 95%);
    height: 30px;
    width: 100px;
    border-radius: 14px;
    top: 60%;
    left: 420px;
}
.puntos {
    background-image: radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-color: rgba(97, 215, 216, 0.774);
    border-radius: 15px;
    height: 50px;
    width: 300px;
    top: 54%;
    left: 340px;
    
}

.pico{
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.838) 2px, transparent 1px);
    background-size: 10px 10px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.788);
    height: 60px;
    width: 500px;
    top: 20%;
    left: 320px;
    z-index: -1;
}
  
.color{
    position: absolute;
    height: 30px;
    width: 100px;
    background: rgba(116,196,188,1);
    border-radius: 15px;
    top: 18px;
    left: 330px;
    /* border: 1px solid white; */
}

.b{
    left: 330px;
    top: 145px;
    /* border: 1px solid white; */
}
.c{
    left: 440px;
    top: -80px;
    /* border: 1px solid white; */
}

.d{
    left: 60%;
    top: 40%;
    width: 50px;
    height: 25px;
}

.validar{
    width: 140px;
    height: 35px;
    color: white;
    font-family: tiltneon;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
}

.validar:hover{
    background-color: rgba(240, 248, 255, 0.24);
    cursor: pointer;
}
#cont .punto {
    position: absolute;
    border-radius: 10px;
    background: rgba(245, 245, 245, 0.564);
    box-shadow: -3px -2px 20px 0px rgba(255,255,255,1);
    -webkit-box-shadow: -3px -2px 20px 0px rgba(255,255,255,1);
    -moz-box-shadow: -3px -2px 20px 0px rgba(255,255,255,1);
    width: 10px;
    height: 10px;
    z-index: 6;
  }
  .user{
    display: flex;
  }